@charset "UTF-8";
/*  6. 카드 뒤집기 */
.day6 {
  background: #4B4841;
}
.day6 .card {
  width: 320px;
  height: 180px;
  transition: all 1s;
  transform: perspective(800px) rotateX(0);
  transform-style: preserve-3d;
}
.day6 .card:hover {
  transform: perspective(800px) rotateX(180deg);
}
.day6 .flip {
  display: inline-grid;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.5);
  background: #FFCE4E;
  position: relative;
}
.day6 .front, .day6 .back {
  grid-area: 1/1/1/1;
  backface-visibility: hidden;
}
.day6 .front img, .day6 .back img {
  position: absolute;
  left: 50%;
}
.day6 .front img {
  top: 50%;
  animation: bycicle 0.5s infinite ease-in-out;
}
.day6 .back {
  transform: rotateX(180deg);
}
.day6 .back img {
  transform: translateX(-50%);
  animation: helicopter 2s infinite ease-in-out;
}
@keyframes bycicle {
  0%, 100% {
    transform: scaleY(1) translate(-50%, -50%);
  }
  50% {
    transform: scaleY(1.1) translate(-50%, -50%);
  }
}
@keyframes helicopter {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: 90px;
  }
}

/*  7. 카드 뒤집기 정답 */
.day7 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #4B4841;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.day7 .card {
  position: absolute;
  width: 320px;
  height: 180px;
  top: 110px;
  left: 40px;
  perspective: 800px;
}
.day7 .card:hover .flip {
  transform: rotateX(180deg) translate3d(0, 0, 0);
  box-shadow: 8px -10px 15px 0 rgba(0, 0, 0, 0.5);
}
.day7 .card .flip {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  perspective: 1000px;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.5);
}
.day7 .card .front, .day7 .card .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFCE4E;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}
.day7 .card .front {
  z-index: 2;
  transform: rotateX(0);
}
.day7 .card .front img {
  position: relative;
  top: 52px;
  animation: bike 0.6s ease-in-out infinite;
  transform-origin: 50% 100%;
}
.day7 .card .front .street {
  position: absolute;
  top: 127px;
  left: 80px;
  width: 160px;
  height: 3px;
  overflow: hidden;
}
.day7 .card .front .street .stripe-1 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 4px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 1s infinite;
}
.day7 .card .front .street .stripe-2 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 6px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 0.3s infinite;
}
.day7 .card .front .street .stripe-3 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 8px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 1s linear 0.4s infinite;
}
.day7 .card .front .street .stripe-4 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 10px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 0.4s infinite;
}
.day7 .card .front .street .stripe-5 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 12px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 1s linear 0.8s infinite;
}
.day7 .card .front .street .stripe-6 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 14px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 1s infinite;
}
.day7 .card .front .street .stripe-7 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 16px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 1s linear 0.6s infinite;
}
.day7 .card .front .street .stripe-8 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 18px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 1s infinite;
}
.day7 .card .front .street .stripe-9 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 20px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 0.5s infinite;
}
.day7 .card .back {
  transform: rotateX(180deg);
}
.day7 .card .back img {
  position: relative;
  z-index: 1;
  top: 57px;
  animation: helicopter 1.5s ease-in-out infinite;
  animation-fill-mode: both;
}
.day7 .card .back .sky {
  position: absolute;
  top: 0;
  left: 80px;
  bottom: 0;
  width: 160px;
  overflow: hidden;
}
.day7 .card .back .sky .cloud-1 {
  position: absolute;
  right: -25px;
  top: 34px;
  height: 3px;
  width: 16.8px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.7s linear 0.7s infinite;
}
.day7 .card .back .sky .cloud-2 {
  position: absolute;
  right: -25px;
  top: 48px;
  height: 3px;
  width: 23.2px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.1s infinite;
}
.day7 .card .back .sky .cloud-3 {
  position: absolute;
  right: -25px;
  top: 62px;
  height: 3px;
  width: 19.3px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.7s linear 0.6s infinite;
}
.day7 .card .back .sky .cloud-4 {
  position: absolute;
  right: -25px;
  top: 76px;
  height: 3px;
  width: 12.3px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.6s infinite;
}
.day7 .card .back .sky .cloud-5 {
  position: absolute;
  right: -25px;
  top: 90px;
  height: 3px;
  width: 18.1px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.7s linear 0.5s infinite;
}
.day7 .card .back .sky .cloud-6 {
  position: absolute;
  right: -25px;
  top: 104px;
  height: 3px;
  width: 23.3px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.5s infinite;
}
.day7 .card .back .sky .cloud-7 {
  position: absolute;
  right: -25px;
  top: 118px;
  height: 3px;
  width: 24px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.1s infinite;
}
.day7 .card .back .sky .cloud-8 {
  position: absolute;
  right: -25px;
  top: 132px;
  height: 3px;
  width: 17.2px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.7s linear 0.6s infinite;
}
.day7 .card .back .sky .cloud-9 {
  position: absolute;
  right: -25px;
  top: 146px;
  height: 3px;
  width: 12.5px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 1s infinite;
}
@keyframes bike {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.03);
  }
}
@keyframes street {
  0% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    transform: translate3d(-210px, 0, 0) scaleX(0.8);
  }
}
@keyframes helicopter {
  0%, 100% {
    transform: translate3d(0, -5px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes cloud {
  0% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    transform: translate3d(-210px, 0, 0) scaleX(0.8);
  }
}

.day8 .card {
  background: #fff;
  width: 240px;
  height: 280px;
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}
.day8 .head {
  text-align: center;
}
.day8 ul.body {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.day8 ul.body li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day8 ul.body li input {
  display: none;
}
.day8 ul.body li input:checked ~ .text {
  transition: all 0.4s ease-in;
  color: gray;
  text-decoration: line-through;
}
.day8 ul.body li input:checked ~ .button {
  transition: all 0.4s ease-in;
  transform: scale(1.3);
  opacity: 0;
}
.day8 ul.body li input:checked ~ .checkmark {
  stroke-dashoffset: 0;
  transition: all 0.5s ease-out 0.4s;
}
.day8 ul.body li .button {
  width: 14px;
  height: 14px;
  border: 1px solid #2a2f50;
  border-radius: 50%;
  transition: all 0.4s ease-out 0.5s;
}
.day8 ul.body li .checkmark {
  position: absolute;
  top: 6px;
  right: 0;
  stroke: #C8D4D9;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 30 30;
  stroke-dashoffset: 30;
  transition: all 0.5s ease-out;
}
.day8 ul.body li ~ li {
  margin-top: 16px;
}

.day9 .background {
  position: relative;
  width: 100%;
  height: 100%;
  background: burlywood;
}
.day9 .left, .day9 .right {
  width: 151px;
  height: 245px;
  position: absolute;
  transform-origin: 50% 0;
  left: 147px;
}
.day9 .left img, .day9 .right img {
  position: absolute;
  bottom: 0;
  transform-origin: 0 95%;
}
.day9 .left {
  animation: leftShoe 2s infinite ease-in-out;
}
.day9 .left img {
  animation: shoe-turn 2s infinite ease-in-out;
}
.day9 .right {
  animation: leftShoe 2s infinite ease-in-out 1s;
}
.day9 .right img {
  animation: shoe-turn 2s infinite ease-in-out 1s;
}
.day9 .floor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: rgb(83, 81, 79);
}
@keyframes leftShoe {
  0%, 100% {
    transform: rotate(-22deg);
  }
  50% {
    transform: rotate(40deg);
  }
}
@keyframes shoe-turn {
  0%, 100% {
    transform: rotate(-10deg) translateY(-5px) translateX(10px);
  }
  25% {
    transform: rotate(0deg) translateY(0px) translateX(0);
  }
  50% {
    transform: rotate(10deg) translateY(-10px) translateX(10px);
  }
  75% {
    transform: rotate(0deg) translateY(-30px) translateX(0);
  }
}/*# sourceMappingURL=style.css.map */