body  {margin: 0; padding: 0}
* {box-sizing: border-box;}
.wrap { width: 100%; min-height: 100vh; }
.flex {display: flex; gap: 20px; margin: 100px; flex-wrap: wrap;}
li {list-style: none;}
ul {padding: 0;}

/* 공통 */
.frame {
    display: flex; justify-content: center; align-items: center;
  position: relative; 
  width: 400px;
  height: 400px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #272C34;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 1. 햄버거 버튼 */
.day1 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-icon {display: flex; flex-direction: column; gap:14px; cursor: pointer;}
.menu-icon span {width: 80px; height: 8px; background: #fff; border-radius: 4px; display: block; box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);  transition: all .5s ease-in-out;}
.menu-icon.active .line-1 {animation: animate-line-1 .5s ease-in-out; transform: translateY(22px) rotate(45deg);}
.menu-icon.active .line-2 {animation: animate-line-2 .5s ease-in-out; opacity:0;}
.menu-icon.active .line-3 {animation: animate-line-3 .5s ease-in-out; transform: translateY(-22px) rotate(135deg);}
.menu-icon .line-1 {animation: return-line-1 .5s ease-in-out }
.menu-icon .line-2 {animation: return-line-2 .5s ease-in-out;}
.menu-icon .line-3 {animation: return-line-3 .5s ease-in-out;}
.menu-icon.no_animation span {animation: none !important;}

@keyframes animate-line-1 { 
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(22px) rotate(0);
  }
  100% {
    transform: translateY(22px) rotate(45deg);
  }
}
@keyframes return-line-1 { 
  0% {
    transform: translateY(22px) rotate(45deg);
  }
  50% {
    transform: translateY(22px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes animate-line-2 {
  0% { 
    transform: scale(1);
    opacity:1;
  }
  100% {
    transform: scale(0);
    opacity:0;
  }
}
@keyframes return-line-2 {
  0% { 
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity:1;
  }
}
@keyframes animate-line-3 { 
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-22px) rotate(0);
  }
  100% {
    transform: translateY(-22px) rotate(135deg);
  }
}
@keyframes return-line-3 { 
  0% {
    transform: translateY(-22px) rotate(135deg);
  }
  50% {
    transform: translateY(-22px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
/* //1. 햄버거 버튼 */


/* 2. 해 움직이기 */
.day2 .circle {animation: fadeOut 4s infinite ease-in-out; width: 180px; height: 180px; border-radius: 50%; position: absolute; overflow: hidden; transform: translate(-50%, -50%); left: 50%; top: 50%;}
.day2 .circle > * {position: absolute; }
.day2 .sky { background: #7DDFFC; width: 100%; height: 100%}
.day2 .ground {background: #F0DE75; width: 100%; height: 56px; bottom: 0}
.day2 .sun {animation: sun 4s infinite ease-in-out; left:70px; top: 7px; transform-origin: 50% 400%; width: 34px; height: 34px; background: #FFEF00; border-radius: 50%;}
.day2 .pyramid {animation: pyramidLeft 4s infinite ease-in-out; width:116px; height: 56px; clip-path: polygon(0% 100%, 100% 100%, 50% 0%); background: #F4F4F4; bottom: 56px; left: 50%; transform: translateX(-50%);} 
.day2 .side {animation: pyramidRight 4s infinite ease-in-out; width: 58px; height: 56px;  clip-path: polygon(30% 100%, 100% 100%, 0% 0%); background: #DDDADA; bottom: 0; position: absolute; right: 0;}
.day2 .shadow {animation:shadow-on-the-floor 4s infinite ease-in-out; transform-origin: 50% 0%; top: 124px; left: -80px; height: 30px; width: 360px; background: rgba(0, 0, 0, 0.2); bottom: 26px; clip-path:polygon(115px 0%, 231px 0%, 80% 100%); left: -84px;}

@keyframes sun {
    0% {
    transform: rotate(-70deg);
  }
	
	30% {
		transform: rotate(-28deg);
	}

  100% {
    transform: rotate(70deg);
  }
}

@keyframes pyramidRight {    
    0% {
        background: #c1bfbf;
      }
        
    30% {
        background: #b4afaf;
    }
    
    100% {
    background: #ededed;
    }
}
@keyframes pyramidLeft {    
    0% {
        background: #ededed;
      }
        
    30% {
        background: #efeeee;
    }
    
    100% {
        background: #cccccc;
    }
}
@keyframes shadow-on-the-floor {
    0% {
          transform: scaleY(0);
        clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
    }
      
      30% {
          transform: scaleY(1);
        clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
      }
      
      55% {
          transform: scaleY(.4);
      }
  
      75% {
          transform: scaleY(1);
      }
  
    100% {
          transform: scaleY(0);
        clip-path: polygon(115px 0%, 231px 0%, 0% 100%);
    }
  }
  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
/* //2. 해 움직이기 */

/* 3. 원 */
.day3 {background:#E56262;}
.day3_wrap {position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%; width: 100px; height: 100px;}
.day3_wrap > * { box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);  background: #fff; border-radius: 50%; position: absolute;}
.day3_wrap .circle1 {animation: circleMove 2s infinite alternate ease-in-out; width: 90px; height: 90px;}
.day3_wrap .circle2 {animation: circleMove2 2s infinite alternate ease-in-out; width: 60px; height: 60px; left: 15px; top: 15px;}
.day3_wrap .circle3 {animation: circleMove3 2s infinite alternate ease-in-out; width: 30px; height: 30px; left: 30px; top: 30px;}

@keyframes circleMove {
    0%, 10% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes circleMove2 {
    0%, 40% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes circleMove3 {
    0%, 70% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
/* //3. 원 */

/* 4. 원 돌아가기 */
.day4 {display: flex; justify-content: center; align-items: center;}
.day4 .image_box {position: relative; width: 120px; height: 120px;}
.day4 .image_box > * {position: absolute; left: 50%; top: 50%;  transform: translate(-50%, -50%);}
.day4 .circle1, .day4 .circle2 {border-radius: 50%; border-width: 1px; border-style: solid;  transform: translate(-50%, -50%); transition: all 1.5s;}
.day4 .circle1 {width: 120px; height: 120px; border-color: #fff #fff #fff transparent; }
.day4 .circle2 {width: 110px; height: 110px; border-color: #fff transparent #fff #fff; }
.day4 img {width: 100px; height: 100px; border-radius: 50%;}
.day4 .image_box:hover .circle1 { transform: translate(-50%, -50%) rotate(360deg);}
.day4 .image_box:hover .circle2 { transform: translate(-50%, -50%) rotate(-360deg);}

/* 4. 원 돌아가기 */

/* 5. 배경 바꾸기 */
.day5 .center {width: 190px; height: 50px;display: flex; justify-content: space-between; position: relative;}
.day5 .center input {display: none;}
.day5 .circle {border: 2px solid #fff; width: 50px; height: 50px; border-radius: 50%; cursor: pointer;}
.day5 .active {position: absolute; transition: all .5s; width: 40px; height: 40px; background: #fff; border-radius: 50%; top: 5px; left: 5px;  cursor: pointer;}
.day5 .bg {position: absolute; transition: all .5s; left: 0; box-sizing: initial; width: 400px; height: 400px; background: salmon; border-left: 400px solid skyblue; border-right: 400px solid yellowgreen;}
#check-1:checked ~ .active {transform: translateX(0);}
#check-2:checked ~ .active {transform: translateX(70px);}
#check-3:checked ~ .active {transform: translateX(140px);}
/* 5. 배경 바꾸기 */

